.availability-bar
  display: flex
  position: fixed
  padding: 16px 16px 20px 16px
  justify-content: space-between
  bottom: 0
  left: 0
  width: 100%
  box-shadow: 0 0 10px transparentize(#0D2750, 0.8)
  background-color: white
  border-top-right-radius: 24px
  border-top-left-radius: 24px
  transform: translateY(0)
  transition: transform 0.3s ease
  
  &__info
    margin-right: 20px
    width: 100px
    &__top
      display: flex
      align-items: flex-start
      justify-content: space-between

      .top__img
        position: relative
        display: flex
        padding: 4px

        &.active
          .top__img__tooltip
            opacity: 1

        &__tooltip
          position: absolute
          bottom: 36px
          left: -6px
          background-color: $blue-grey
          border-radius: 8px
          min-width: 160px
          min-height: 80px
          color: white
          padding: 12px 14px
          box-shadow: 0 8px 16px transparentize(#0D2750, .8)
          opacity: 0
          transition: all .3s ease
          &::after
            content: ''
            position: absolute
            bottom: 0
            left: 6px
            width: 14px
            height: 14px
            background-color: $blue-grey
            border-radius: 3px
            box-shadow: 0 8px 16px transparentize(#0D2750, .8)
            transform: rotate(45deg) translateX(50%)


      span
        color: $blue-grey
        font-weight: $bold
        font-size: 2.4rem
        em
          font-size: 1.4rem
    
    &__bottom
      display: flex
      align-items: center
      justify-content: space-between

      span
        color: $grey
        margin-left: 8px
        white-space: nowrap

  button
    border-radius: 30px
    padding: 16px 0
    width: 220px
  
  &.hidden
    transform: translateY(100%)