header
  padding-top: 16px
  position: absolute
  width: 100%
  z-index: 100

  .header
    &__menu
      display: flex    
      justify-content: space-between

      &__button
        width: 30px
        height: 30px
        display: flex
        align-items: flex-start

        &.back-button
          pointer-events: none
          opacity: 0
          transform: translateY(5px)
          transition: all 0.3s ease

          &.active
            pointer-events: auto
            opacity: 1
            transform: translateY(0)

        &:last-child
          justify-content: flex-end
              
  .detail-title
    position: absolute
    top: 16px
    left: 50%
    font-size: 1.6rem
    line-height: 1.6rem
    color: white
    white-space: nowrap
    opacity: 0
    transform: translate(-50%, 5px)
    transition: all 0.3s ease

    &.active
      opacity: 1
      transform: translate(-50%, 0)

